[flake8]
max-line-length = 127
max-complexity = 13
exclude = .git,__pycache__,doc/,docs/,build/,dist/,archive/,setup.py
ignore = E121,E123,E126,E226,E24,E704,W503,W504
per-file-ignores =
  __init__.py:F401